body {
  margin: auto;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; 
  padding: 20px;
  justify-items: center; 
}

.product-item {
  padding: 20px;
  width: 100%; 
}

.buttons {
  position: relative;
  bottom: 0;
}